.card {
  width: 18vw;
  margin: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-style: solid;
  border-color: #dbd6e1;
  border-width: 1.5px;
  border-radius: 8px;
}
h2 {
  font-size: 1.5vw;
  padding-left: 10px;
}
p {
  font-size: 1vw;
  padding-left: 10px;
}
.card img {
  margin: auto;
  display: block;
}
.card .img {
  background-color: #f6f6f8;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
