.toolbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-right: 15px;
}
.toolbar img {
  width: 3vw;
  height: 3vw;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 15px;
  padding-right: 15px;
}

.right h5 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
